Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/
configure
libtool
m4/
src/.deps/
src/Makefile
src/Makefile.in
src/command.o
src/shell_bison.cc
src/shell_bison.hh
src/shell_bison.o
src/shell_flex.cc
src/shell_flex.o
src/yash
stamp-h1
*~
*.o
src/*~
src/*.o
test/shell-out
test/testall.out
test/csh-out
test/hello world
test/*.out
test/*-out
